<!-- a simple dialog element made with core-overlay -->
<polymer-element name="x-dialog" attributes="opened autoCloseDisabled">

	<template>
		<style>
			:host { box-sizing: border-box; -moz-box-sizing: border-box; overflow: hidden; background: white; padding: 30px 42px; outline: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); }
		</style>

		<core-overlay id="overlay" layered backdrop opened="{{opened}}" autoCloseDisabled="{{autoCloseDisabled}}"  transition="core-transition-center"></core-overlay>
		<content></content>
	</template>

	<script>
		Polymer('x-dialog', {	
			ready: function() {
				this.$.overlay.target = this;
			},

			toggle: function() {
				// show/hide overlay
				this.$.overlay.toggle();
			}
		});
	</script>
	
</polymer-element>